@use "/src/assets/styles/variables";
@use "/src/assets/styles/mixins";

header {
  position: absolute;
  height: variables.$header-height !important;
  width: 100%;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0 14px;

  @include mixins.simple-flex-parent();
  justify-content: space-between;

  .left-section,
  .right-section {
    position: relative;
    width: 50%;
  }

  .left-section {
    @include mixins.simple-flex-parent();
    justify-content: flex-start;
    gap: 20px;
  }

  .right-section {
    @include mixins.simple-flex-parent();
    justify-content: flex-end;
    gap: 20px;
  }

  .url {
    position: relative;
    font-weight: 500;
    font-size: 0.9rem;
    color: #fff;
    display: flex;
    width: 350px;
  }

  .url-part {
    color: #aaa;
    font-size: 1.05rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

    &:first-of-type {
      color: #eee;
      // font-size: 1.05rem;
    }
  }

  app-burger-menu {
    position: relative;
  }

  .navbar-wrapper {
    position: fixed;
    right: variables.$thumbWidth;
    top: variables.$header-height;

    overflow: hidden;
    width: auto;
    height: auto;
    transition: all 200ms ease;
    max-width: 0;
    box-shadow: variables.$shadow-5;

    app-navbar {
      position: relative;
    }

    &.burgerOpen {
      max-width: 260px;
    }
  }
}
