<header>
  <div class="left-section">
    <app-logo />

    <!-- Regular header stuff -->
    <ng-container *ngIf="currentUrl$ | async as url">
      <h4 class="url">
        <span *ngFor="let part of url.parts" class="url-part">
          {{ part }}
        </span>
      </h4>
    </ng-container>
  </div>

  <!-- Absolute 'most top' elements -->
  <app-burger-menu></app-burger-menu>
  <div class="navbar-wrapper" [ngClass]="{ burgerOpen: (burgerOpen$ | async) === true }">
    <app-navbar></app-navbar>
  </div>
</header>
