html {
  --scrollbarBG: red;
  --thumbBGhover: #888;
  --thumbBG: #777;
  --thumbBGborder: #777;
  --trackBG: #555;
  --thumbWidth: 8px;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}

* {
  scrollbar-width: var(--thumbWidth);
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

*::-webkit-scrollbar-track {
  background: var(--trackBG);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 1px;
  border: 1px solid var(--thumbBGborder);
  &:hover {
    background: var(--thumbBGhover);
  }

  &:active,
  &:focus {
    background: red;
  }
}
