// # Custom control styles (button, checkbox)
$bg-main: #1085bc;
$bg-top-main: #56bff0;
$bg-intermed-main: #1293ce;
$bg-highlight: #daf1fb;
$bg-highlight-lighter: #edf8fd;
$border-top-width: 5px;
$hue-change-hover: -35deg;

// # Header
$header-height: 60px;
