// # Custom control styles (button, checkbox)
$bg-main: #1085bc;
$bg-roof: #56bff0;

$bg-medium-0: #1293ce;
$bg-light-0: #daf1fb;

$bg-medium-0-lighter: #14a0e1;
$bg-light-0-lighter: #edf8fd;

$border-top-width: 5px;
$hue-change-hover: -35deg;

// # Header
$header-height: 60px;

// # Scrollbar
$thumbWidth: 8px;
