.lobby {
  width: 650px;
  height: 360px;
  box-shadow: none !important;
  align-items: center;
  justify-content: center;
}

.session {
  height: 100%;
  width: 100%;
  justify-content: space-around !important;
}

.mini {
  .input {
    font-family: "Roboto Mono";
    font-size: 0.77rem !important;
    text-align: center;
  }
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  max-height: 40px;
  font-weight: 600;
  text-align: center;
  color: rgb(255, 97, 97);
}
