.spinner {
  height: 32px;
  width: 32px;
  border: 3.6px solid transparent;
  border-top: 3.6px solid gray;
  border-radius: 50%;
  animation: animate-spin 700ms linear infinite;
}

@keyframes animate-spin {
  to {
    transform: rotate(1turn);
  }
}
