<div class="popup" *ngIf="popupShown">
  <div class="popup__card">
    <div class="popup__body">
      <div *ngIf="showClose" class="close" appAccess (access)="userAction('close-no-decision')">
        <div class="icon-close"></div>
      </div>

      <div class="header">
        <ng-content select="[popupUserHeader]"></ng-content>
      </div>
      <div class="content">
        <slot>
          <ng-content select="[popupUserContent]"></ng-content>
        </slot>
      </div>
      <div class="footer">
        <div class="actions">
          <button *ngIf="showAccept" (click)="userAction('accept')">Accept</button>
          <button *ngIf="showDecline" (click)="userAction('decline')">Decline</button>
        </div>
      </div>
    </div>
  </div>
</div>
