@use "/src/assets/styles/controls";

:host {
  display: flex;
  div {
    &:not(.mini) {
      @include controls.app_checkbox_0;
    }

    &.mini {
      @include controls.app_checkbox_mini_0;
      display: flex;
      align-items: center;
    }
  }

  &.outlined {
    div {
      @include controls.app_button_1;
    }
  }
}
