@use "/src/assets/styles/mixins";
@use "/src/assets/styles/variables";

.playerName {
  width: 220px;
  overflow-wrap: break-word;
}

.actions {
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  .remove {
    position: relative;

    &::after {
      content: "";
      width: 18px;
      height: 18px;
      position: absolute;
      box-shadow: variables.$shadow-4;
      cursor: pointer;
      @include mixins.icon-mask("^assets/icons/close.svg", 18px, 18px, #ff3f3f);
      transform: translate(-50%, -50%);
    }
  }
}

.lock {
  width: 90px;
  position: relative;
  display: flex;
  justify-content: center;
  div {
    &::after {
      content: "";
      width: 24px;
      height: 24px;
      position: absolute;
      transform: translate(0, -12px);
    }

    &.icon-true {
      &::after {
        @include mixins.icon-mask("^assets/icons/lock.svg", 24px, 24px, rgb(0, 197, 0));
      }
    }

    &.icon-false {
      &::after {
        color: rgb(197, 0, 0);

        @include mixins.icon-mask("^assets/icons/lock.svg", 24px, 24px, #bbb);
      }
    }
  }
}

.status {
  width: 110px;
  overflow-wrap: break-word;
  display: flex;
  justify-content: center;

  text-transform: uppercase;
  font-weight: 700;
  padding: 5px 9px;

  &.status-empty {
    color: rgb(150, 150, 150);
    text-shadow: variables.$shadow-4;
  }

  &.status-occupied {
    color: rgb(0, 197, 0);
    text-shadow: variables.$shadow-4;
  }

  &.status-invited {
    color: #000;
  }

  &.status-disconnected {
    color: rgb(197, 0, 0);
    text-shadow: variables.$shadow-4;
  }
}

.status-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  height: 36px;
  width: 36px;

  .occupied {
    border-radius: 50%;
    height: 24px;
    width: 24px;
    background: radial-gradient(rgb(0, 154, 0), rgb(3, 190, 3));
    box-shadow: variables.$shadow-4;
  }
}

.activity {
  width: 110px;
  overflow-wrap: break-word;
}

.playerName p {
  position: relative;
  color: white;

  &::after {
    $size: 14px;
    background-color: variables.$bg-main;
    padding: 1px 2px;
    border-radius: 3px;
    color: white;

    font-size: 11px;
    font-weight: 700;

    width: fit-content;
    height: $size;
    position: absolute;
    text-shadow: variables.$shadow-4;
    transform: translate(2px, -8px);
  }
}

.isHost .playerName p {
  &::after {
    font-family: Manrope;
    content: "HOST";
  }
}

.playerName {
  display: flex;
  justify-content: center;
  align-items: center;
}

.currentUser {
  .lock {
    cursor: pointer;
  }

  .playerName p {
    width: fit-content;
    border-radius: 9px;
    padding: 4px 7px;
    transition: all 0.2s ease;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    transition: all 200ms ease;
  }
}

.currentUser:not(.isHost) {
  .lock-false {
    @include mixins.clickable-btn();
    animation: pulse 2s infinite;

    &:hover {
      animation: none;
      color: white;
    }
  }
}

.list-item.empty {
  background: rgba(87, 87, 87, 1) !important;
  color: rgba(155, 155, 155, 1) !important;
  font-weight: 700 !important;
  font-style: italic;
  width: 100% !important;
  justify-content: center !important;

  @include mixins.clickable-btn();
}

:host::ng-deep {
  app-basic-card .basic-card__content .list-wrapper {
    height: calc(270px);

    .list {
      height: 240px;
    }

    .wrapper-status-invited .playerName {
      color: rgb(250, 150, 120);
      font-weight: 600;
      text-transform: uppercase;
      text-shadow: variables.$shadow-4;
    }
  }
}

.invitePending {
  .playerName p {
    color: orange !important;
    font-size: 12px !important;
  }
}

.info {
  font-size: 14px;
  padding: 5px 9px;
  background: rgba(150, 150, 150, 0.15);
  width: fit-content;
  border-radius: 4px;
  border: 1px solid rgba(97, 97, 97, 1);
  margin: 8px 0;
  font-family: "Azeret Mono";
}

.action-item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .info {
    margin-right: 10px;
  }

  .action-buttons {
    display: flex;
  }
}

// animation for pulsing color
@keyframes pulse {
  0% {
    color: rgb(0, 0, 0);
  }
  50% {
    color: rgba(255, 255, 255, 1);
  }
  100% {
    color: rgb(0, 0, 0);
  }
}
