<app-see-data [data]="session"></app-see-data>

<app-basic-card *ngIf="session">
  <ng-container title>Oczekiwanie na graczy</ng-container>

  <ng-container content>
    <div class="list-wrapper">
      <div class="list-headers">
        <div class="actions"></div>
        <div class="playerName">Nazwa gracza</div>
        <div class="status">Status</div>
        <div class="lock">Przytrzymanie</div>
      </div>
      <div class="list">
        <ng-container *ngFor="let slot of slots | slice: 0 : session.sessionSettings.playersLimit + 1; trackBy: trackBySlots">
          <ng-container *ngTemplateOutlet="player; context: { $implicit: slot, session }"></ng-container>
          <!-- <ng-container *ngIf="slot.user">
          </ng-container>
          <ng-container *ngIf="!slot.user">
            <ng-container *ngTemplateOutlet="empty; context: { $implicit: slot }"></ng-container>
          </ng-container> -->
        </ng-container>
      </div>
    </div>

    <div class="info">{{ session.sessionActivity.playersJoinedAmount }} / {{ session.sessionSettings.playersLimit }}</div>
    <div class="info">Gra rozpoczyna się automatycznie gdy dołączy max graczy</div>
    <div class="info">TODO: JAKO HOST MOZESZ ZAZNACZYC GRACZY I NASTEPNIE ICH USUNAC</div>
  </ng-container>

  <ng-container actions>
    <!-- <div class="action-item">
      <app-button (click)="invitePopup()">Zaproś gracza</app-button>
    </div> -->

    <div class="action-item">
      <div class="action-buttons">
        <app-button (click)="leavePopup()">Zrezygnuj</app-button>
        <app-button [disabled]="session.sessionActivity.playersJoinedAmount < 3">Zacznij grę natychmiast</app-button>
      </div>
      <div class="info">Min 3 graczy</div>
    </div>

    <button style="background-color: red" (click)="startGame()">Zacznij grę DEV</button>
  </ng-container>
</app-basic-card>

<ng-template #player let-slot let-session="session">
  <ng-container [ngSwitch]="slot.status">
    <ng-container *ngSwitchDefault>
      <ng-container *ngIf="slot.user?.id as userId">
        <div
          class="list-item wrapper-status-{{ slot.status }} "
          [ngClass]="{
            isHost: userId === session.sessionActivity.hostId,
            currentUser: userId === currentUserId,
            invitePending: slot.status === 'invited'
          }">
          <div class="actions">
            <div *ngIf="userId !== currentUserId" class="remove" (click)="kick(userId)"></div>
          </div>
          <div class="playerName">
            <p>
              {{ slot.status === "invited" ? "Zaproszono: " : "" }}
              {{ slot.user?.displayName || "[ oczekiwanie na dołączenie ]" }}
            </p>
          </div>
          <div class="status status-{{ slot.status }}">
            <div class="status-wrapper">
              <div class="occupied" *ngIf="slot.status === 'occupied'"></div>
              <app-spinner [color]="'orange'" *ngIf="slot.status === 'invited'"></app-spinner>
              <app-spinner [color]="'red'" *ngIf="slot.status === 'disconnected'"></app-spinner>
            </div>
          </div>
          <!-- <div class="status status-{{ slot.status }}">{{ slot.status || "" }}</div> -->
          <div
            class="lock lock-{{ slot.locked }}"
            (click)="userId !== session.sessionActivity.hostId && userId === currentUserId && toggleSlot(userId, slot)">
            <div class="icon-{{ slot.locked }}"></div>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'empty'">
      <div class="list-item empty" (click)="invitePopup(slot.order)">
        <ng-container *ngIf="slot.status === 'empty'">PUSTE</ng-container>
        <!-- <div class="status status-{{ slot.status }}">{{ slot.status || "" }}</div> -->
      </div>
    </ng-container>
  </ng-container>
</ng-template>
