:host {
  pre {
    z-index: 10000;
    background: rgba(240, 240, 240, 0.8);
    color: black;
    border: 2px solid red;
    opacity: 0.8;
    overflow-y: scroll;
    overflow-x: auto;
    padding: 3px;
    font-family: Roboto;
    max-height: 400px;
    width: 400px;
  }
}
