@use "/src/assets/styles/mixins";
@use "/src/assets/styles/variables";

$asian-poker-gui-height: 220px;

@mixin deck-display {
  height: 60px;
  min-width: 224px;
  width: 224px;
  padding: 2px;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;

  box-shadow: variables.$shadow-4;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 3px;
  background-color: rgb(10, 133, 92);

  z-index: 200;
  position: absolute;
}
