:host {
  position: absolute;
  top: 60px;
}

.table-wrapper {
  position: relative;
  animation: 1000ms rotate-view 500ms forwards;
  border-radius: 100%;
}

.gui-wrapper {
  position: relative;
  animation: 500ms expand-section 1500ms forwards;
  overflow: hidden;
  max-height: 0;

  filter: blur(0);
  height: auto;
}

@keyframes rotate-view {
  0% {
    top: 0px;
    filter: blur(0);
    transform: rotate3d(0);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0);
  }

  50% {
    filter: blur(1px);
  }

  100% {
    top: -30px;
    filter: blur(0);

    transform: rotate3d(10, -4, 5, 30deg);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.75);
  }
}

@keyframes expand-section {
  from {
    max-height: 0;
  }

  to {
    max-height: 160px;
  }
}
