<div class="wrapper">
  <div class="game-wrapper">
    <div class="game-window">
      <div class="scene">
        <div class="spacecraft"></div>

        <div class="parallax">
          <div class="clouds">
            <div class="cloud_0"></div>
            <div class="cloud_1"></div>
            <div class="cloud_2"></div>
            <div class="cloud_3"></div>
            <div class="cloud_4"></div>
            <div class="cloud_5"></div>
            <div class="cloud_6"></div>
            <div class="cloud_7"></div>
          </div>
          <div class="obstacles">
            <div class="obstacle_0"></div>
            <div class="obstacle_1"></div>
            <div class="obstacle_2"></div>
          </div>
          <div class="ground"></div>
        </div>
      </div>
    </div>
  </div>
</div>
