<div class="ticks-wrapper">
  <div *ngIf="checkingIntervalTicks | async as ticks">
    <p>checks interval</p>
    <app-progress-bar [currentValue]="ticks.start" [maxValue]="ticks.end" color="rgb(255, 87, 0)"></app-progress-bar>
  </div>

  <div *ngIf="checkingLengthTicks | async as minorTicks">
    <p>checking</p>
    <app-progress-bar
      #progressLength
      [currentValue]="minorTicks.start"
      [maxValue]="minorTicks.end"
      color="rgb(0, 147, 87)"></app-progress-bar>
  </div>
</div>
