@use "/src/assets/styles/variables";
@use "burger-menu-animations";

.burger {
  position: relative;
  display: flex;
  cursor: pointer;
  height: 24px;
  width: 34px;

  &__line {
    position: absolute;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: variables.$shadow-1;
    height: burger-menu-animations.$burger-line-height;
    width: 34px;
    transition: background-color 200ms ease;

    &:nth-of-type(1) {
      top: 20px;
      rotate: 0deg;
      &.open {
        animation: line-top burger-menu-animations.$burger-animation-speed forwards;
      }

      &:not(.open) {
        animation: line-top-reverse burger-menu-animations.$burger-animation-speed;
      }
    }

    &:nth-of-type(2) {
      top: 10px;
      height: burger-menu-animations.$burger-line-height;

      &.open {
        height: 0;
      }

      &:not(.open) {
        animation: grow-height burger-menu-animations.$burger-animation-speed;
      }
    }

    &:nth-of-type(3) {
      top: 0;
      rotate: 0deg;

      &.open {
        animation: line-bottom burger-menu-animations.$burger-animation-speed forwards;
        background-color: variables.$bg-roof;
      }

      &:not(.open) {
        animation: line-bottom-reverse burger-menu-animations.$burger-animation-speed;
        background-color: #fff;
      }
    }
  }
}
