<!-- <app-see-data [data]="session" position="fixed"></app-see-data> -->
<div *ngIf="session && currentUser" class="gui-wrapper">
  <div class="gui general">
    <ng-container *ngIf="showGeneralGUI">
      <div class="gui__wall">
        <div class="gui__info">
          <p>Turn</p>
          <p>{{ session?.turnsCounter }}</p>
        </div>
        <div class="gui__info">
          <p>Who are you?</p>
          <p>{{ currentUser?.nickname }}</p>
        </div>
        <div class="gui__info">
          <p>Who's move is it?</p>
          <p>{{ players[currentPlayerIndex]?.nickname }}</p>
        </div>
        <div class="gui__info">
          <p>Who's the dealer?</p>
          <p>{{ players[currentDealerIndex]?.nickname }}</p>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="gui current-player">
    <ng-container *ngIf="showPlayerGUI">
      <div class="gui__actions"></div>
    </ng-container>
  </div>
</div>
