@use "/src/assets/styles/mixins";
@use "/src/assets/styles/variables";

@mixin btn-colors($mainColor, $hueDeg: -45deg) {
  $bar-width: 10px;

  background-color: transparent;
  border: 2px solid $mainColor;
  background: {
    image: linear-gradient(
      to right,
      transparentize($mainColor, 0.4),
      transparentize($mainColor, 0.4) calc($bar-width * 1),
      $mainColor calc($bar-width * 1),
      $mainColor calc($bar-width * 2),
      transparentize($mainColor, 0.4) calc($bar-width * 2),
      transparentize($mainColor, 0.4) calc($bar-width * 3),
      $mainColor calc($bar-width * 3),
      $mainColor calc($bar-width * 4),
      transparentize($mainColor, 0.4) calc($bar-width * 4),
      transparentize($mainColor, 0.4) calc($bar-width * 5),
      $mainColor calc($bar-width * 5),
      $mainColor calc($bar-width * 6),
      transparentize($mainColor, 0.4) calc($bar-width * 6),
      transparentize($mainColor, 0.4) calc($bar-width * 7),
      $mainColor calc($bar-width * 7),
      $mainColor calc($bar-width * 8),
      transparentize($mainColor, 0.4) calc($bar-width * 8),
      transparentize($mainColor, 0.4) calc($bar-width * 9),
      $mainColor calc($bar-width * 9),
      $mainColor calc($bar-width * 10),
      transparentize($mainColor, 0.4) calc($bar-width * 10),
      transparentize($mainColor, 0.4) calc($bar-width * 11),
      $mainColor calc($bar-width * 11),
      $mainColor calc($bar-width * 12),
      transparentize($mainColor, 0.4) calc($bar-width * 12),
      transparentize($mainColor, 0.4) calc($bar-width * 13),
      $mainColor calc($bar-width * 13),
      $mainColor calc($bar-width * 14),
      transparentize($mainColor, 0.4) calc($bar-width * 14),
      transparentize($mainColor, 0.4) calc($bar-width * 15),
      $mainColor calc($bar-width * 15),
      $mainColor calc($bar-width * 16),
      transparentize($mainColor, 0.4) calc($bar-width * 16),
      transparentize($mainColor, 0.4) calc($bar-width * 17),
      $mainColor calc($bar-width * 17),
      $mainColor calc($bar-width * 18),
      transparentize($mainColor, 0.4) calc($bar-width * 18),
      transparentize($mainColor, 0.4) calc($bar-width * 19),
      $mainColor calc($bar-width * 19),
      $mainColor calc($bar-width * 20),
      transparentize($mainColor, 0.4) calc($bar-width * 20),
      transparentize($mainColor, 0.4) calc($bar-width * 21),
      $mainColor calc($bar-width * 21),
      $mainColor calc($bar-width * 22),
      transparentize($mainColor, 0.4) calc($bar-width * 22),
      transparentize($mainColor, 0.4) calc($bar-width * 23),
      $mainColor calc($bar-width * 23),
      $mainColor calc($bar-width * 24),
      transparentize($mainColor, 0.4) calc($bar-width * 24),
      transparentize($mainColor, 0.4) calc($bar-width * 25),
      $mainColor calc($bar-width * 25),
      $mainColor calc($bar-width * 26),
      transparentize($mainColor, 0.4) calc($bar-width * 26),
      transparentize($mainColor, 0.4) calc($bar-width * 27),
      $mainColor calc($bar-width * 27),
      $mainColor calc($bar-width * 28),
      transparentize($mainColor, 0.4) calc($bar-width * 28),
      transparentize($mainColor, 0.4) calc($bar-width * 29),
      $mainColor calc($bar-width * 29),
      $mainColor calc($bar-width * 30),
      transparentize($mainColor, 0.4) calc($bar-width * 30),
      transparentize($mainColor, 0.4) calc($bar-width * 31)
    );
    position: 0 0;
    size: 100%;
  }

  &:not(.disabled):hover {
    background-position: calc($bar-width * 10);
    box-shadow: 0 0 5px $mainColor;
    filter: brightness(1.2);
  }

  &:not(.disabled):active {
    box-shadow: 0 0 7px $mainColor;
    filter: brightness(1.2) hue-rotate($hueDeg);
  }
}

:host {
  .btn {
    box-sizing: border-box;
    appearance: none;

    align-self: center;
    width: 144px;
    height: 57px;
    display: flex;
    margin: 7px;
    justify-content: center;
    align-items: center;
    align-content: center;

    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    box-shadow: variables.$shadow-0;
    outline: 0;

    border-radius: 16px;
    color: #fff;

    transition:
      all 200ms ease-in-out,
      background 300ms ease-in-out;

    &.default {
      @include btn-colors(rgb(114, 120, 148));
    }

    &.action0 {
      @include btn-colors(rgb(200, 153, 11));
    }

    &.action1 {
      @include btn-colors(rgb(11, 115, 200));
    }

    &.round {
      width: 84px;
      border-radius: 100%;
      height: 84px;
    }

    &.disabled {
      @include btn-colors(rgb(114, 120, 148));
      filter: saturate(0);
      color: rgb(200, 200, 200);

      &:hover,
      &:active {
        filter: saturate(0);
        cursor: not-allowed !important;
      }
    }

    &.mini {
      &--confirm {
        width: 24px !important;
        height: 24px !important;
        border-radius: 100%;
        @include mixins.icon-mask("^assets/icons/check.svg", 12px, 12px, rgb(21, 156, 19));
        @include mixins.clickable-btn();
      }

      &--reject {
        width: 24px !important;
        border-radius: 100%;
        height: 24px !important;
        @include mixins.icon-mask("^assets/icons/cancel.svg", 12px, 12px, rgb(209, 4, 4));
        @include mixins.clickable-btn();
      }
    }
  }
}
