@use "/src/assets/styles/variables";

:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 900px;
  height: 100%;

  ::ng-deep {
    app-countdown-timer {
      font-size: 18px;

      color: #fff;
    }
  }

  div {
    display: flex;
    flex-direction: column;
  }

  section {
    display: flex;
  }
}
