@use "/src/assets/styles/controls";

:host {
  width: 100%;
  .radio {
    display: flex;
    width: 100%;
    @include controls.app_radio_0;

    .items .item {
      font-size: 10px;
      font-weight: 500;
      letter-spacing: 0.3px;
    }
  }
}
