<app-basic-card>
  <ng-container title>Dołącz do sesji</ng-container>

  <ng-container content>
    <div class="list-wrapper">
      <div class="list-headers">
        <div class="title">Nazwa gry</div>
        <div class="hostDisplayName">Gospodarz</div>
        <div class="players">
          <div class="playersJoinedAmount">Gracze</div>
        </div>
        <div class="accessibility">Dostęp</div>
        <div class="sessionState">Status</div>
      </div>
      <div class="list">
        <div
          (dblclick)="joinPopup(selected)"
          *ngFor="let session of sessions; trackBy: trackBySessions"
          class="list-item"
          [ngClass]="{ selected: selected === session.id }"
          appAccess
          (access)="selected = session.id">
          <div class="title">{{ session.sessionSettings.title }}</div>
          <div class="hostDisplayName">{{ session.sessionActivity.hostDisplayName }}</div>
          <div class="players">
            <div class="playersJoinedAmount">{{ session.sessionActivity.playersJoinedAmount }}</div>
            /
            <div class="playersLimit">{{ session.sessionSettings.playersLimit }}</div>
          </div>
          <div class="accessibility" [ngClass]="{ password: session.sessionSettings.password }">
            {{ session.sessionSettings.accessibility }}
          </div>
          <div class="sessionState state-{{ session.sessionActivity.sessionState }}">
            {{ session.sessionActivity.sessionState }}
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container actions>
    <app-button [disabled]="!selected" (click)="joinPopup(selected)">Dołącz</app-button>
    <app-button (click)="joinPopup()">Dołącz po id</app-button>
  </ng-container>
</app-basic-card>
