@use "/src/assets/styles/variables";

div.wrapper {
  border-radius: 8px;
  box-shadow: variables.$shadow-3;
  width: fit-content;
  overflow: hidden;
  backdrop-filter: blur(16px) brightness(1.5);

  &.login {
    .hint,
    .emoji {
      height: 0;
      min-height: 0;
      max-height: 0;
      margin: 0;
    }
  }
}

.hint {
  font-size: 0.85rem;
  line-height: 1.8;
  text-align: center;
  transition: all 0.2s;
  // transition-delay: 80ms;
  min-height: 25px;
  max-height: 50px;
  overflow: hidden;
}

.emoji {
  font-size: 5rem;
  line-height: 1;
  text-align: center;
  transition: all 0.2s;
  margin-top: 10px;
  height: 80px;
  max-height: 80px;
  overflow: hidden;
}

.form {
  font-family: Roboto;

  padding: 25px 35px;
  min-width: 450px;
  width: fit-content;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__heading {
    padding-block: 30px;
    font-size: 1.6rem;
    font-weight: 500;
  }

  &__fieldset {
    border-radius: 4px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: 15px 10px;

    &:focus-within .form__legend {
      font-weight: 500;
    }
  }

  &__legend {
    font-size: 1.05rem;
    background: white;
    padding: 0 4px;
  }

  &__input {
    height: 44px;
    width: 100%;
    font-size: 1rem;
    background-color: rgba(110, 0, 110, 0.1);
    border: none;
    border-radius: 4px;
    outline: 1px solid transparent;
    padding: 12px;
    margin-block: 8px 10px;

    &:active {
      outline-width: 1px;
    }
  }

  &__button {
    height: 44px;
    border-radius: 4px;
    margin-top: 15px;
    border: 1px solid transparent;
    min-width: 150px;
    width: fit-content;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    background: rgba(200, 200, 220, 1);
    color: rgba(95, 95, 149, 1);

    &[disabled] {
      background: lightgray;
      color: darkgray;

      &:hover,
      &:active {
        background: lightgray;
      }
    }

    &:hover {
      transition: background 0.2s ease;
      background: rgba(220, 220, 240, 1);
    }

    &:active {
      transition: background 0.4s ease;
      background: rgba(180, 180, 200, 1);
    }
  }

  &__result {
    height: 30px;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
}

.mode {
  height: 30px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__button {
    font-size: 0.75rem;
    font-weight: 500;
    background: none;
    padding: 4px 11px;
    height: 32px;
    font-family: Roboto;

    width: 85px;
    transition: background 0.2s ease;
    cursor: pointer;

    &:hover {
      background: rgba(255, 255, 255, 0.3);
    }

    &:active,
    &:focus {
      outline: none;
      background: rgba(255, 255, 255, 0.5);
    }

    &.mode-active {
      background: rgba(0, 0, 0, 0.1);
    }
  }

  &__shortcut {
    width: max-content;
    font-size: 0.75rem;
    color: gray;
    padding-right: 10px;
  }
}
