@use "/src/assets/styles/mixins";
@use "/src/assets/styles/variables";
@use "/src/assets/styles/controls";
@use "/src/assets/styles/scrollbar";

.selected {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.75) inset;
}

.password {
  position: relative;
  &::after {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    @include mixins.icon-mask("^assets/icons/lock.svg", 16px, 16px, #fff);
    transform: translate(2px, -4px);
  }
}

:host::ng-deep.list-item {
  @include mixins.clickable-btn();
}

.title {
  width: 110px;
  overflow-wrap: break-word;
}

.hostDisplayName {
  width: 110px;
  overflow-wrap: break-word;
}

.players {
  width: 50px;
  display: flex;
  justify-content: center;
}

.accessibility {
  width: 100px;
  text-transform: uppercase;
}

.status {
  width: 75px;
  text-transform: uppercase;

  font-weight: 500;
  padding: 4px 8px;

  &.state-setup {
    color: rgb(7, 217, 7);
    text-shadow: variables.$shadow-4;
  }
  &.state-in-game {
    color: #ffe9ac;
    text-shadow: variables.$shadow-4;
  }
  &.state-finished {
    color: #000;
  }
}

.list-item .status {
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}
