<app-basic-card height="900px">
  <ng-container title>Lista aktywnych sesji</ng-container>

  <ng-container content>
    <div class="list-wrapper">
      <div class="list-headers">
        <div class="title">Nazwa gry</div>
        <div class="hostDisplayName">Gospodarz</div>
        <div class="players">
          <div class="playersJoinedAmount">Gracze</div>
        </div>
        <div class="accessibility">Dostęp</div>
        <div class="status">Status</div>
      </div>
      <div class="list">
        <div
          (dblclick)="joinPopup('public', selected)"
          *ngFor="let session of sessions; trackBy: trackBySessions"
          class="list-item"
          [ngClass]="{ selected: selected === session.metadata.id }"
          appAccess
          (access)="selected = session.metadata.id">
          <div class="title">{{ session.title }}</div>
          <div class="hostDisplayName">{{ session.activity.hostDisplayName }}</div>
          <div class="players">
            <div class="playersJoinedAmount">{{ session.activity.playersJoinedAmount }}</div>
            /
            <div class="playersLimit">{{ session.restrictions.playersLimit }}</div>
          </div>
          <div class="accessibility" [ngClass]="{ password: session.accessibility.password }">
            {{ session.accessibility.inviteNeeded ? "Invite" : "All" }}
          </div>
          <div class="status status-{{ session.activity.status }}">
            <!-- {{ session.activity.status }} -->

            {{ "ASIAN_POKER.SESSION_STATUS." + session.activity.status | translate }}
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container actions>
    <app-button [disabled]="!selected" (click)="joinPopup('public', selected)">Dołącz</app-button>
    <app-button (click)="joinPopup('private')">Dołącz po id</app-button>
    <app-button (click)="joinPopup('invite')">Dołącz z zaproszenia</app-button>
  </ng-container>
</app-basic-card>
